var express = require('express');
var router = express.Router();
var mustache = require("mustache");
var fs = require("fs");

{{#models}}
var {{{name}}} = require('../Models/{{{name}}}.js');
{{/models}}

{{#models}}
router.get("/{{{name}}}", function(req, res) {
    {{{name}}}.all(function (data) {
        res.render('list', {
            title: '{{{name}}}',
            columns: Object.keys(new {{{name}}}()),
            rows: data.map(obj => {
                return {
                    properties: Object.keys(obj).map(key => {
                        return {
                            name: key,
                            value: obj[key]
                        }
                    }),
                    actions: [{
                        label: '',
                        link: './{{{name}}}/Details/' + obj.id,
                        image: {
                            src: '../images/read.png'
                        },
                        tooltip: 'Details'
                    }, {
                        label: '',
                        link: './{{{name}}}/Edit/' + obj.id,
                        image: {
                            src: '../images/edit.png'
                        },
                        tooltip: 'Edit'
                    }, {
                        label: '',
                        link: '#',
                        image: {
                            src: '../images/delete.png'
                        },
                        tooltip: 'Delete',
                        events: [{
                            name: "onclick",
                            function: "delete",
                            args: obj.id
                        }]

                    }]
                }
            })
        })
    });
});

router.get("/{{{name}}}/Details/:id", function(req, res) {
    {{{name}}}.get(req.params.id, function(data) {
        if (data){
            var model = JSON.parse(fs.readFileSync("./Models/Schemas/" + "{{{name}}}".toLowerCase() 
                    + "-schema.json"));
            res.render('details', {
                title: 'Details',
                properties: function (){
                    return Object.keys(data).map(key => {
                        var proprow = {};

                        proprow.name = key;
                        proprow.value = data[key];
                        
                        return proprow;
                    })
                },
                references: function(){
                    var allRefs = [];
                    if(model.references){
                        model.references.forEach(function(ref){
                            var required = ref.required === void 0 ? true : ref.required;
                            if(required){
                                allRefs.push({
                                    label:ref.label,
                                    model: ref.model,
                                    value:  ref.relation == "M-M" ? req.params.id + '/' + ref.model.toLowerCase() : data[ref.model.toLowerCase() + "_id"]
                                });
                            }
                        });
                        return allRefs;
                    }
                },
                get hasReferences(){
                    return this.references().length > 0;
                }  
            })
        }
    })
});

router.get("/{{{name}}}/Edit/:id", function(req, res) {
    {{{name}}}.get(req.params.id, function(data) {
        if (data){
            res.render('form', {
                title: 'Details',
                properties: function (){
                    return Object.keys(data).map(key => {
                        var proprow = {};

                        proprow.name = key;
                        proprow.value = data[key];
                        
                        return proprow;
                    })
                }
            })
        }
    })
});

router.get("/{{{name}}}/Insert", function(req, res) {
            res.render('form', {
                title: 'Details',
                properties: function (){
                    return Object.keys(new {{{name}}}()).map(key => {
                        var proprow = {};

                        proprow.name = key;
                        
                        return proprow;
                    })
                }
            })
});

{{/models}}

module.exports = router;