<html>
<body>
{{{menu}}}
<table>
<tr>
5/5
{{#columns}}
<th>{{name}}</th>
{{/columns}}
</tr>
{{#rows}}
<tr>
{{#properties}}
<td>
{{value}}
</td>
{{/properties}}
</tr>
{{/rows}}
</table>
</body>
</html>