<html>
 <head>
 <title>{{title}}</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

 <script>      
    function deleteRecord(id) {
        var xhr = new XMLHttpRequest();
        xhr.open("DELETE", "../api/{{title}}/" + id, true);
        xhr.onreadystatechange = function () {
            if(xhr.readyState === 4 && xhr.status === 200) {
                var response = JSON.parse(this.responseText);
                console.log(response);
                if(response.success) 
                    window.location.reload();
            }
        }
        xhr.send(); 
    }

 function search(input) {
var filterText = input.value.toUpperCase();
var table = document.getElementById("table");
var tr = table.getElementsByTagName("tr");
for (i = 0; i < tr.length; i++) {
var td = tr[i].getElementsByTagName("td")[1]; //deverão alterar esta função para percorrer todos os TD que vos interessae não apenas o 1º
if (td) {
var txtValue = td.textContent || td.innerText;
if (txtValue.toUpperCase().indexOf(filterText) > -1) {
tr[i].style.display = "";
} else {
tr[i].style.display = "none";
}
}
}
}
 </script>
 </head>
 <body>
  {{{menu}}}<br/>
 <input type="text" id="inputSearch" onkeyup="search(this)" placeholder="Search for..."/>
 <table id="table">
 <tr>
 {{#columns}}
 <th>{{.}}</th>
 {{/columns}}
 </tr>
 {{#rows}}
 <tr>
 {{#properties}}
 <td>
 {{value}}
 </td>
 {{/properties}}
 
{{#actions}}
<td>
<a href="{{link}}" title="{{tooltip}}" {{#events}}{{name}}="javascript:{{function}}({{args}})" {{/events}}>
    {{#image}}
        <img src="{{src}}" alt="{{alt}}" />
    {{/image}}
</td>
{{/actions}}

 </tr>
 {{/rows}}
 </table>
 </body>
</html>