<html>
    <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    </head>
    <body>
        <h1>{{title}}</h1>
        <form action="/generate" method="POST">
            <input type="submit" value="GERAR"/>
        </form>
        <br/><br/>
        Server Status: <div id="serverstatus">Desligado</div>
        <br/><br/>
        <form action="/start" method="POST">
            <input type="submit" value="INICIAR"/>
        </form>
        <form action="/stop" method="POST">
            <input type="submit" value="PARAR"/>
        </form>

        <script>


        var interval = 1000;  // 1000 = 1 second, 3000 = 3 seconds
    function doAjax() {
    $.ajax({
            type: 'GET',
            url: '/getStatus',
            data: $(this).serialize(),
            dataType: 'json',
            success: function (status) {
                if(status)
                    $('#serverstatus').html("Ligado na porta <a href='http://localhost:8080' target='_blank'>8080</a>");
                else
                    $('#serverstatus').html("Desligado");
            },
            complete: function (data) {
                    // Schedule the next
                    setTimeout(doAjax, interval);
            }
    });
}
setTimeout(doAjax, interval);
        </script>
    </body>
</html>