var express = require('express');
var router = express.Router();
var mustache = require("mustache");
var fs = require("fs");

{{#models}}
var {{{name}}} = require('../Models/{{{name}}}.js');
{{/models}}

router.get('/Schemas', function (req, res){
    var config = fs.readFileSync("./Server/config.json");
    config = JSON.parse(config);
    res.send(config.schemas);
});

router.get('/Fields/:schema', function (req, res) {
    var model = JSON.parse(fs.readFileSync("./Models/Schemas/" + req.params.schema.toLowerCase()
                + "-schema.json"));

    var props = model.properties;
    res.send(props);
});

{{#models}}
router.get('/Data/{{{name}}}/:field/:qtd/:order', function (req, res) {
    {{{name}}}.top(req.params.field, req.params.order, req.params.qtd, function (rows) {
        res.send(rows);
    });
});
{{/models}}


router.get('/Home', function(req, res){    
    var template = fs.readFileSync("./Publish/Views/home.mustache").toString();
    var template_config = {   
        title: 'Frontoffice',
        menu: getMenu(),
     };

    var output = mustache.render(template, template_config);
    res.send(output);
});

function getMenu (){
    var menu = fs.readFileSync("./Publish/Views/menu.mustache").toString();

    schemas = [];
    var config = JSON.parse(fs.readFileSync("./Server/config.json"));

    config.schemas.forEach(model => {
        schemas.push(model);
    });

    var menu_config = {
        schemas: schemas
    }

    return mustache.render(menu, menu_config);
}

module.exports = router;