<html>
 <head>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../../../Css/tema.css">
 <script>
 {{#hasReferences}}
 function loadValues(model,values,label,controlId,relatedModel){
 var xhr = new XMLHttpRequest();
 xhr.open("GET", `../../../api/${model}/${values}`, true);
 xhr.onreadystatechange = function () {
 if(xhr.readyState === 4 && xhr.status === 200) {
 var control = document.getElementById(controlId);
 var response = JSON.parse(this.responseText);
 control.innerHTML = response.name;
 /*if(response.constructor === Array)
 control.innerHTML = response.map(row => { return
row[label] }).join();
 else
 control.innerHTML = response[label];*/
 }
 }
 xhr.send();
 }

 window.onload = function() {
 {{#references}}

loadValues('{{model}}','{{{values}}}','{{label}}','label{{model}}value');
 {{/references}}
 }
 {{/hasReferences}}
 </script>
 </head>
 <body>
  {{{menu}}}<br/>
 {{#properties}}
 <div>
 <label>{{name}}:</label>
   {{#text}}
      <label>{{value}}</label>
   {{/text}}
   {{#image}}
      <img src='{{value}}' width="315" height="420"/>
   {{/image}}
   {{#video}}
      <iframe width="420" height="315" src='{{value}}'></iframe>
   {{/video}}
 </div>
 {{/properties}}
 {{#references}}
 <label>{{model}}:</label>
 <label id="label{{model}}value"></label><br/>
 {{/references}}
 </body>
</html>
