<html>
 <head>
 <script>
 {{#hasReferences}}
 function loadValues(model,values,label,controlId,relatedModel){
 var xhr = new XMLHttpRequest();
 console.log(`../../../api/${model}/${values}`);
 xhr.open("GET", `../../../api/${model}/${values}`, true);
 xhr.onreadystatechange = function () {
 if(xhr.readyState === 4 && xhr.status === 200) {
 var control = document.getElementById(controlId);
 var response = JSON.parse(this.responseText);
 console.log(response);
 control.innerHTML = response.name;
 /*if(response.constructor === Array)
 control.innerHTML = response.map(row => { return
row[label] }).join();
 else
 control.innerHTML = response[label];*/
 }
 }
 xhr.send();
 }

 window.onload = function() {
 {{#references}}

loadValues('{{model}}','{{values}}','{{label}}','label{{model}}value');
 {{/references}}
 }
 {{/hasReferences}}
 </script>
 </head>
 <body>
 {{#properties}}
 <div>
 <label>{{name}}:</label>
 <label>{{value}}</label>
 <label> - {{mode}}</label>
 </div>
 {{/properties}}
 {{#references}}
 <label>{{model}}:</label>
 <label id="label{{model}}value"></label><br/>
 {{/references}}
 </body>
</html>
